SECRET_KEY=m2RfTpH3cCT8llXWL1x4LJQLqqJwKhwNYvoejTh_6o4
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

POSTGRES_USER=postgres
POSTGRES_PASSWORD=your-password-here
POSTGRES_DB=saas_db

database_url=postgresql+asyncpg://postgres:your-password-here@postgres:5432/saas_db
redis_url=redis://redis:6379